body{
	min-width: 960px;
	font-size: 14px;
	color: #000;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #f8f5f2;
	background-image: url(../img/item-bg.jpg)
	background-repeat: repeat;
}



.main-header{
	backgroun-color: #000;
	min-height: 72px;
	outline: 1px solid #F00;
}

.container{
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
	outline: 1px solid #0FF;
}

.clearfix{
	content: "";
	display: table;
	clear: both;
}

/*--------------------header-----------------------*/

.main-header{
	min-height:70px;
	margin-bottom: 60px;
	background-color: #000;
}

.main-nav{
	width: 780px;
	min-height: 70px;
	outline: 1px solid #F0F;
	float: left;
}

.main-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-nav li{
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	font-size: 16px;
}

.main-nav a{
	display: block;
	padding: 25px 20px;
	text-decoration: none;
	color: #fff;
}

.main-nav .active{
	position: relative;
}

.main-nav .active span{
	display: block;
	padding: 25px 20px;
	color: #fff;
}

.main-nav .active::after{
	content: "";
	position: absolute;
	height: 4px;
	left: 20px;
	right: 20px;
	background-color: #fff;
	bottom: 0px;
}



.main-nav a:hover{
	background-color: #242424;
}
	

.user-block{
	max-width: 140px;
	outline: 1px solid #F0F;
	float: right;
}

.login{
	display: block;
	padding: 25px 20px;
	padding-left: 50px;
	text-decoration: none;
	color: #fff;
	line-height: 20px;
	font-size: 16px;
	position: relative;
}

.login:hover{
	background-color: #242424;
}

.login::after{
	content: "";
	left: 22px;
	top: 28px;
	height: 16px;
	width: 18px;
	background-color: red;
	position: absolute;
	opacity: 0.3;
}

.login:hover::after{
	opacity: 1;
}

/*--------------------------main-----------------------*/


/*---------------------------footer--------------------*/



.main-footer{
	margin-top: 65px;
	padding-top: 54px;
	padding-bottom: 35px;
	min-height: 100px;
	outline: 1px solid #9F0;
}

.main-footer-adress{
	width: 320px;
	margin-right: 60px;
	float: left;
	outline: 1px solid #00F;
}

.main-footer-social{
	width: 180px;
	float: left;
	outline: 1px solid #00F;
}

.main-footer-developed{
	width: 160px;
	float: right;
	outline: 1px solid #00F;
}